<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379364796982-3q6lc1o8nmlvjjdi27o3cii2k889rqo6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379364796982-3q6lc1o8nmlvjjdi27o3cii2k889rqo6</string>
	<key>API_KEY</key>
	<string>AIzaSyBRc-XnmasFeR7Uj9rJJDO9FG6cTSUH3Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>379364796982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.caronapp</string>
	<key>PROJECT_ID</key>
	<string>vemjunto-f9f4d</string>
	<key>STORAGE_BUCKET</key>
	<string>vemjunto-f9f4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379364796982:ios:3bff1d8cf57ec5cf3cc697</string>
	<key>DATABASE_URL</key>
	<string>https://vemjunto-f9f4d-default-rtdb.firebaseio.com</string>
</dict>
</plist>